body{
    background-color: beige;
}
.custom-button{
    text-decoration: none;
    color: white;
}

#breaks{
    margin: 2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

#filler{
    text-align: justify;
}
